*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* phones */
@media only screen and (max-width: 600px) {
    body{
        background-color: #E4DADB;
        height: 90vh;
    }
    .navbar{
        background-color: #D9D9D9;
        display: grid;
        grid-template-columns: repeat(3, auto);
        height: 80px;
    }
    .logo{
        grid-column: 1/2;
        font-size: 30px;
        font-weight: 400;
        margin-left: 30px;
        margin-top: 20px;
        
    }
    .list{
        grid-column: 3/4;
    }
    .list ul{
        display: none;
    }
    .icon{
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        margin-top: 30px;
    }
    .continer{
        /* border: 2px solid red; */
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .continer h1{
        font-weight: 300;
        padding: 20px;
    }
    .continer p{
        font-weight: 200;
        margin: 20px;
    }
    .but button{
        background-color: rgb(52, 126, 199);
        color: white;
        border: none;
        height: 50px;
        width: 200px;
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .Boxes{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: 30% 20% 30%;
        row-gap: 20px;
        column-gap: 15px;
        width: 100%;
        height: 55vh;
        margin: 20px;

    }
    .box1{
        background-color: #DF2BCD;
        grid-column: 1/3;
        margin-left: 20px;
        margin-right: 20px;

    }
    .box2{
        background-color: #234EED;
        grid-column: 1/2;
        margin-left: 20px;
        margin-right: 20px;
    }
    .box3{
        background-color: #234EED;
        grid-column: 2/3;
        margin-left: 20px;
        margin-right: 20px;

    }
    .box4{
        background-color: #191819;
        grid-column: 1/3;
        margin-left: 20px;
        margin-right: 20px;
    }

}
/* desktops */
@media only screen and (min-width: 992px) {
    .navbar{
        background-color: #171313;
        color: #FEFEFE;
        display: grid;
        grid-template-columns: repeat(3, auto);
        height: 80px;
    }
    .logo{
        grid-column: 1/2;
        font-size: 37px;
        font-weight: 300;
        margin-left: 30px;
        margin-top: 18px;
        
    }
    .list{
        grid-column: 3/4;
    }
    .list ul{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        
    }
    .list ul li{
        align-items: center;
        margin: 20px;
        font-size: 28px;
        font-weight: 200;
    }
    .icon{
        display: none;
        
    }
    .continer{
        border: 2px solid red;
        
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(3,auto);
        
    }
    .continer h1{
        grid-column: 1/3;
        grid-row: 1/2;
        font-weight: 300;
        padding-top: 80px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .continer p{
        grid-column: 1/3;
        grid-row: 2/3;
        font-weight: 200;
        /* margin: 40px; */
        margin-top: 20px;
        margin-bottom: 40px;

        display: flex;
        justify-content: center;
    }
    .but{
        grid-column: 1/3;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 90x;
    }
    .but button{
        
        background-color: rgb(52, 126, 199);
        color: white;
        border: none;
        height: 50px;
        width: 200px;
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .Boxes{
        grid-column: 2/4;
        grid-row: 1/4;
        
        /* row-gap: 20px;
        column-gap: 15px; */
        width: 100%;
        height: 55vh;
        margin: 20px;

    }
    .box1{
        background-color: #DF2BCD;
        width: 360px;
        height: 150px;
        padding: 20px;
        margin-left:280px;
        margin-top: 90px;
        

    }
    .box2{
        background-color: #234EED;
        width: 140px;
        height: 100px;
        margin-left:280px;
        margin-top: 90px;
    }
    .box3{
        background-color: #234EED;
        
        margin-left: 20px;
        margin-right: 20px;

    }
    .box4{
        background-color: #191819;
        
        margin-left: 20px;
        margin-right: 20px;
    }
}